#Sat Jun 28 02:24:20 CEST 2008
currentLocale=en
transparentColor=255 0 255 0
disabled_components=\  edu.raf.gefcomponents.lookandfeel.LookAndFeelPlugin edu.raf.gefcomponents.perspective.PerspectivePlugin
workspace=/home/toroman/work/ws-rcp/raf-block/./default_workspace
components=edu.raf.flowchart.FlowChartPlugin edu.raf.gefcomponents.beaneditor.BeanEditorPlugin edu.raf.gefcomponents.lookandfeel.LookAndFeelPlugin edu.raf.gefcomponents.perspective.PerspectivePlugin
diagramBackgroundColor=240 240 240 255
mainFrame.state=0 213 45 567 468
frameState=0 522 313 493 354
pluginManager.state=0 23 1115 446
