#Tue Jul 01 12:23:41 CEST 2008
currentLocale=sr_SR_CYRILLIC
transparentColor=255 0 255 0
disabled_components=\ 
workspace=C\:\\home\\toroman\\work\\ws-rcp\\raf-block\\.\\default_workspace
components=edu.raf.flowchart.FlowChartPlugin edu.raf.gefcomponents.beaneditor.BeanEditorPlugin edu.raf.gefcomponents.lookandfeel.LookAndFeelPlugin edu.raf.gefcomponents.perspective.PerspectivePlugin
diagramBackgroundColor=240 240 240 255
mainFrame.state=6 213 45 567 468
frameState=0 522 313 493 354
WorkspaceChooser.state=176 163 595 217
pluginManager.state=24 72 1115 446
